@import "../../../../_variables.scss";

.group-list {
    
    a{
        display: flex;
        align-items: center;
        width: 100%;
        height: 5vh;
        color: #fff;
        text-decoration: none;
    }

    &:hover {
        background-color: $golubenikiy;
    }
}

