.group-nav{
    ul {
        display: flex;
        margin: auto;
        align-items: center;
    }
}

a {
    color: #FEFEFE;
    text-decoration: none !important;
}

div {
    div{   
         a:active{
            color: #FEFEFE;
         }
    }
}