@import "../../_variables.scss";

.sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width:15%;
    background-color: rgb(2, 2, 29);
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #fff;
    p {
        font-family: $font-monserrat;
        margin-bottom: 0;
        margin-left: 10px;
    }

    li {
        list-style: none;
    }
}

.sidebar-wrapper{
    a {padding: 0 15px;}
}