@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,600i,700,700i,900|Open+Sans:300,300i,400,700);
.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  min-width: 150px;
  width: 15%;
  background-color: #02021d;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  font-size: 18px; }
  .sidebar p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    padding: 15px 15px; }
  .sidebar li {
    list-style: none; }

.sidebar-wrapper a {
  padding: 15px 15px; }
